[Desktop Entry]
Type=Application
Name=VoidSW
Exec=voidsw
Icon=com.eduke32.EDuke32-voidsw
Categories=Game;Shooter
Keywords=Game;Shooter;Duke32;Build;Shadow;Warrior;SW
