[Desktop Entry]
Type=Application
Name=Wangulator
Exec=wangulator
Icon=com.eduke32.EDuke32-voidsw
Categories=Game;Construction
Keywords=Game;Shooter;Build;Duke32;Map;Editor;Shadow;Warrior;SW
